.card {
  margin: 10px;
  padding: 5px;
  border: 1px solid #aaaa;
  background-color: lightskyblue;
  width: 200px;
  text-align: center;
  transition: all 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  cursor: pointer;
}

.card:hover {
  transform: scale(0.9);
}

h1 {
  font-size: 15px;
}
